		<!--<footer id="footer">
			{% if page.path contains '_posts' %}	
			
			<div class="footer post-detail">
				<span class="title">{{page.title}}</span>
				<span class="function">
				<a href="javascript:void(0)">INFO</a>
				<a href="javascript:void(0)">SHARE</a>
				</span>
			</div>
			
			{% else %}	
				
			<div class="footer random-space">Information</div>
				
			{% endif %}
		</footer>-->
<div class="right-rotate {% if page.path contains '_posts' %} right-post-inner {% endif %}">
    <ul>
	{% if page.path contains '_posts' %}
        <li>{{page.title}}</li>
        <li>INFO</li>
        <li>SHARE</li>
		{% else %}	
		<li>Information</li>
	{% endif %}		
    </ul>
</div>		
		</div>  <!--inset-->
	</div><!--page-wrapper-->
  
  
