---
layout: default
---
<div class="middle-container">

{% if page.carousel %}
  <div class="flexslider">
    <ul class="slides">
      {% for slides in page.carousel %}
      <li>
        <div class="slide-image" style="background: url('{{site.baseurl}}/{{ slides.image }}'); background-size:cover; background-position:center center; width:100%;">
      </li>
      {% endfor %}
    </ul>

  </div>
  <div class="slider-function">
 	<div id="sliderNext"></div>
	<div class="slide-count">
		<span>0</span><span class="current-slide">1</span>/<span>0</span><span class="total-slides"></span>
	</div>	
	<div id="sliderPrev"></div>
  </div>
  {% endif %}

</div>